torch>=2.3.0
torchvision>=0.18.0
onnx>=1.15.0
onnxruntime>=1.17.0
onnx2pytorch>=0.5.1
insightface>=0.7.3
opencv-python>=4.9.0
numpy>=1.26.0
tqdm>=4.66.0
scikit-learn>=1.4.0
matplotlib>=3.8.0
pillow>=10.2.0
